.header {
    height: 60px;
    background-color: #EAEAE5;
    /*var(--color-chrome-bg);*/
    border-bottom: var(--border-width) solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-btn {
    border: 1px solid transparent;
    border-radius: 0;
    /* Sharp corners */
    padding: 0.4rem;
}

.menu-btn:hover {
    border-color: var(--color-border);
    background-color: transparent;
}

.app-title {
    font-family: var(--font-serif);
    font-size: 1.4rem;
    color: var(--color-primary);
    font-weight: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}